---
import Container from "./Container.astro"
import Topic from "./Topic.astro";
import highlightData from './Data/highlights.json';
---
<Container>
<div class="relative flex-col items-center md:flex-row" id="highlights">
    <Topic title="十年亮點" description="回顧成大建築70-80" />
</div>

<div class="flex-row items-center py-5">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-4">

        <!-- card start-->
        {
        highlightData.map(({ background, name1, name2, arrow, link, image} ) => (
        <div class={background}>
            <div class="flex-col justify-center items-start gap-[93px] inline-flex">
                <a href={link}>
                <div class="flex-col justify-start items-start flex">
                    <div class="px-[7px] bg-theme_blue-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                        <div class=" text-3xl font-medium">{name1}</div>
                    </div>
                    <div class="px-[7px] bg-theme_blue-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                        <div class="text-3xl font-medium">{name2}</div>
                    </div>
                </div>
                </a>
                <a class="justify-start items-center gap-[15px] inline-flex" href={link}>
                    <div class="w-[41px] h-[41px] relative">
                        <img class="w-[41px] h-[41px] left-0 top-0 absolute md:w-2/3" src={arrow} />
                    </div>
                    <div class="text-xl font-normal leading-7">了解更多</div>
                </a>
            </div>
            <a href={link}>
            <div class="w-[210px] h-[170px] pt-0.5 pb-[1.95px] justify-center items-center flex">
                <!--<img class="hidden md:block" src={image} /> this will hide image on mobile-->
                <img class=md:block" src={image} />
            </div>
            </a>
        </div>
        ))
        }
        <!-- card end-->
    </div>
</div>
</Container>